.section {
  margin: 60px 0;
  h2 {
    position: relative;
    font-size: 24px;
    margin-bottom: 20;
    &::before {
      content: "";
      position: absolute;
      left: -200px;
      bottom: 5px;
      transform: translateY(-50%);
      width: 210px;
      height: 1px;
      background: #bbb;
    }
  }
  p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  .ex {
    padding: 8px;
    border-radius: 4px;
    background: #d7d7d7;
    b {
      font-size: 11px;
    }
  }
  .mt-2 {
    margin-top: 20px;
  }
  .mt-3 {
    margin-top: 30px;
  }

  .fluid {
    width: max-content;
  }

  .parent {
    display: grid;
    grid-template: auto 1fr / auto 1fr;

    .label {
      padding: 4px;
      border: 1px solid #000;
      &.top {
        grid-column-start: span 2;
      }
    }
    input,
    textarea {
      width: 100%;
    }
    textarea {
      height: 130px;
    }
    // .top {
    //   grid-column-start: span 2;
    // }
    .column {
      padding: 4px;
      border: 1px solid #000;
    }
    .row {
      grid-column-start: span 2;
      padding: 4px;
      border: 1px solid #000;
    }
  }
}
